<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ChessBoard_Assembled">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.173900201880708 -0.121086234633632 0.00730886765713955"
        rpy="0 0 0" />
      <mass
        value="6.33316594026914" />
      <inertia
        ixx="0.0681720008633645"
        ixy="-1.88753487060761E-12"
        ixz="2.35234791244411E-08"
        iyy="0.0681720008633614"
        iyz="-2.35234786267212E-08"
        izz="0.135322225776106" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ChessBoard_Assembled/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ChessBoard_Assembled/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>